<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class="col-md-3 col-sm-12 product">
    <img src="http://www.mulheresempreendedoraspi.com.br/site/wp-content/uploads/2017/10/arroz-simples.jpg" class="img-responsive" />
    <h4 class="product-title"><%= product.name %></h4>
    <button type="button" class="btn btn-success fa fa-plus js-add-button"
                          data-product-id="<%= product.id %>"
                        data-product-name="<%= product.name %>">Adicionar</button>
  </div>
<% end %>

<script>
var order = {};

$('.js-add-button').click(function(){
  product_id = $(this).data('product-id');
  product_name = $(this).data('product-name');

  item = order[product_id];

  if (item == undefined) {
    order[product_id] = {
      name: product_name,
      qtd: 1
    }
  } else {
    item['qtd'] += 1;
  }

  $('#order').val(JSON.stringify(order));
})

</script>

